{% extends "base.html" %}
{% block content %}
<h2>Photographers</h2>
{% for photographer in photographers %}
<section>
    <p>Photographer name : {{ photographer.name }}</p>
    <p>email : {{ photographer.email }}</p>
    <p>Portfolio :
        <a href="{{ photographer.portfolio_address }}">Click here</a>
    </p>
    <a href="/photographers/{{ photographer.id }}/edit"></a>
    <form action="/photographers/{{ photographer.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>
{% endfor %}
{% endblock %}