{% extends "base.html" %}
{% block content %}
<h2>Bookings</h2>
{% for booking in bookings %}
<section>
    <p>Booking Name: {{ booking.name }}</p>
    <p>Type : {{ booking.service.photo_type }}</p>
    <p>Number of People: {{ booking.num_of_group }}</p>
    <p>From : {{ booking.photoshoot_start_time }}</p>
    <p>Till : {{ booking.photoshoot_end_time }}</p>
    <p>Client Name : {{ booking.client.name }}</p>
    <p>Where : {{ booking.service.place }}</p>
    <p>Photographer : {{ booking.photographer.name }}</p>
    <a href="/bookings/{{ booking.id }}/edit"></a>
    <form action="/bookings/{{ booking.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>

{% endfor %}

{% endblock %}