{% extends "base.html" %}
{% block content %}
<div class="submenu_register">
    <a href="/clients/new_client_byc" class="register">1. Register a Client</a>
    <br>
    <a href="/bookings/new" class="register">2. Book a Photoshoot</a>
</div>
<img src="{{ url_for('static', filename='/img/confirmed.png') }}" alt="confirmed logo" class="confirmedlogo">
{% for booking in booking_confirmations %}

<div class="booking">
   
    <section class="booking_byc">

        <table class="list">
            <thead>
                <tr>
                    <td class="left">Reference Number:</td>
                    <td class="center">{{ booking.id }}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="left">Photo Shoot Event Title:</td>
                    <td class="center">{{ booking.name }}</td>
                </tr>
                <tr>
                    <td class="left">Type :</td>
                    <td class="center">{{ booking.service.photo_type }}</td>
                </tr>
                <tr>
                    <td class="left">Number of People:</td>
                    <td class="center">{{ booking.num_of_group }}</td>
                </tr>
                <tr>
                    <td class="left">From : </td>
                    <td class="center">{{ booking.photoshoot_start_time }}</td>
                </tr>
                <tr>
                    <td class="left">Till :</td>
                    <td class="center">{{ booking.photoshoot_end_time }}</td>
                </tr>

                <tr>
                    <td class="left">Client Name :</td>
                    <td class="center">{{ booking.client.name[0:-2]+hidden_part
                        }}</td>
                </tr>

                <tr>
                    <td class="left">Client Contact :</td>
                    <td class="center">{{ booking.client.contact[0:-2]+hidden_part
                        }}</td>
                </tr>
                <tr>
                    <td class="left">Client Contact :</td>
                    <td class="center">{{ booking.photographer.name }}</td>
                </tr>
                <tr>
                    <td class="left">Photo Shoot Places :</td>
                    <td class="center">{{ booking.places }}</td>
                </tr>
            </tbody>
        </table>
        <div class="book_table">
            <table class="map">
                <thead>
                    <tr>
                        <th colspan="6"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr1">
                        <td></td>
                        <td>{% if "CircusLane" in booking.places
                            :%}
                            <div class="dot">●</div>
                            <div class="map">Circus Lane</div class="map">
                            {% endif %}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>{% if "NewTown" in booking.places
                            :%}
                            <div class="dot">●</div>
                            <div class="map">New Town</div class="map">
                            {% endif %}
                        </td>
                        </td>
                        <td>{% if "CaltonHill" in booking.places
                            :%}
                            <div class="dot">●</div>
                            <div class="map">Calton Hill</div class="map">
                            {% endif %}
                        </td>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tr3">
                        <td>{% if "DeanVillage" in booking.places
                            :%}
                            <div class="dot">●</div>
                            <div class="map">DeanVillage</div class="map">
                            {% endif %}
                        </td>
                        </td>
                        <td></td>
                        <td>{% if "PrincesStreetGarden" in booking.places
                            :%}
                            <div class="dot">●</div>
                            <div class="map">Prices Street Garden</div class="map">
                            {% endif %}
                        </td>
                        </td>
                        <td>{% if "OldTown" in booking.places
                            :%}
                            <div class="dot">●</div>
                            <div class="map">Old Town</div class="map">
                            {% endif %}
                        </td>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tr3">
                        <td></td>
                        <td></td>
                        <td>{% if "Grassmarket" in booking.places
                            :%}
                            <div class="dot">●</div>
                            <div class="map">Grassmarket</div class="map">
                            {% endif %}
                        </td>
                        </td>
                        <td></td>
                        <td>{% if "HolyroodPark" in booking.places
                            :%}
                            <div class="dot">●</div>
                            <div class="map">Holyrood Park</div class="map">
                            {% endif %}
                        </td>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="tr4">
                        <td colspan="6"></td>
                    </tr>
                </tbody>
            </table>
        </div><br><br><br><br><br><br>

    </section>
</div>
{% endfor %}


{% endblock %}