{% extends "base.html" %}
{% block content %}

<h2>Add a New Photo Shoot Booking</h2>

<form action="/bookings" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <!-- <label for="places">Photo Shoot Place:</label>
        <input type="text" id="places" name="places"> -->

            <div>
                <input type="checkbox" id="circuslane" name="circuslane" value="circuslane">
                <label for="circuslane">Circus Lane</label>
            </div>
            <div>
                <input type="checkbox" id="deanvillage" name="deanvillage" value="deanvillage">
                <label for="deanvillage">Dean Village</label>
            </div>
            <div>
                <input type="checkbox" id="newtown" name="newtown" value="newtown">
                <label for="newtown">New Town</label>
            </div>
            <div>
                <input type="checkbox" id="caltonhill" name="caltonhill" value="caltonhill">
                <label for="caltonhill">Calton Hill</label>
            </div>
            <div>
                <input type="checkbox" id="princesstreet" name="princesstreet" value="princesstreet">
                <label for="princesstreet">Princes Street Garden</label>
            </div>
            <div>
                <input type="checkbox" id="oldtown" name="oldtown" value="oldtown">
                <label for="oldtown">Old Town</label>
            </div>
            <div>
                <input type="checkbox" id="grassmarket" name="grassmarket" value="grassmarket">
                <label for="grassmarket">Grass Market</label>
            </div>
            <div>
                <input type="checkbox" id="holyroodpark" name="holyroodpark" value="holyroodpark">
                <label for="holyroodpark">Horyrood Park</label>
            </div>
    </div>
    <div>
        <label for="num_of_group">Number of People:</label>
        <input type="text" id="num_of_group" name="num_of_group">
    </div>
    <div>
        <label for="photoshoot_start_time">From :</label>
        <input type="datetime" value="2022-08-01 12:00:00" id="photoshoot_start_time" name="photoshoot_start_time">
    </div>
    <div>
        <label for="photoshoot_end_time">Till :</label>
        <input type="datetime" value="2022-08-01 12:00:00" id="photoshoot_end_time" name="photoshoot_end_time">
    </div>
    <div>
        <label for="client">Client:</label>
        <select name="client_id" id="client">
            {% for client in clients %}
            <option value="{{ client.id }}">
                {{ client.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="service_id">Service:</label>
        <select name="service_id" id="service_id">
            {% for service in services %}
            <option value="{{ service.id }}">
                {{ service.photo_type }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="photographer_id">Photographer:</label>
        <select name="photographer_id" id="photographer_id">
            {% for photographer in photographers %}
            <option value="{{ photographer.id }}">
                {{ photographer.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}