{% extends "base.html" %}
{% block content %}
{% for service in services %}


<section>
    <p>{{ service.photo_type }} Photo Shoot</p>
    <p>Location : {{ service.place }}</p>
    <p>{{ service.hours }} Hours</p>
    <p>£ {{ service.price }}</p>
    <p>Photographer : {{ service.photographer.name }}</p>
    <p>{{ service.id }}</p>
    <a href="/services/{{ service.id }}/edit"></a>
    <form action="/services/{{ service.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>
{% endfor %}
{% endblock %}