{% extends "base.html" %}
{% block content %}
<h2>Our Service List</h2>

{% for service in services %}
<table class="put_center service_tb">
    <thead>
        <tr>
            <td class="center_content">
                <p>{{ service.photo_type }}</p>
            </td>
        </tr>
        <tr>
            <td class="center_content">
                <p>{{ service.hours }} Hours</p>
            </td>
        </tr>
        <tr>
            <td class="center_content">
                <p>£ {{ service.price }}</p>
            </td>
        </tr>
    </thead>
</table>
<section>






</section>
{% endfor %}
{% endblock %}