<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Hansel Photography</title>
</head>

<body>
    <header class="base_menu">
        <img src="{{ url_for('static', filename='/img/title_index.png') }}" alt="Hansel Photography Logo" class="logo">

        <nav>
            <ul class="menu">
                <li>|<a href="/"> Home</a></li>
                <li>|<a href="/photographers_client"> Photographer</a></li>
                <li>|<a href="/service_public"> Our Service</a></li>
                <li>|<a href="/bookings/clients_booking_list"> Booking</a></li>
                <li>|<a href="https://instagram.com/macdonaldcatfamily" target="blank"> Photographer's Portfolio</a></li>
                <li>|<a href="mailto:hihanseul@gmail.com"> Contact </a></li>|
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>