{% extends "base.html" %}
{% block content %}
<div class="text_center">
    <img src="{{ url_for('static', filename='/img/main_client.png') }}" alt="Hansel Photography Logo" width=500px>
</div>
<div class="client_main">
    <img src="{{ url_for('static', filename='/img/photos_main/1.jpg') }}" alt="Hansel Photography Logo" width=17%>
    <img src="{{ url_for('static', filename='/img/photos_main/2.jpg') }}" alt="Hansel Photography Logo" width=17%>
    <img src="{{ url_for('static', filename='/img/photos_main/3.jpg') }}" alt="Hansel Photography Logo" width=17%>
    <img src="{{ url_for('static', filename='/img/photos_main/4.jpg') }}" alt="Hansel Photography Logo" width=17%>
    <img src="{{ url_for('static', filename='/img/photos_main/5.jpg') }}" alt="Hansel Photography Logo" width=17%>
</div>
{% endblock %}