<!DOCTYPE html>
<html lang="en" class="bg">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Hansel Photography - Edinburgh Photo Shoot</title>
</head>

<body>
    
    <img src="{{ url_for('static', filename='/img/title_index.png') }}" alt="Hansel Photography Logo" width=30%>
    <div class="index_box">
        <a href="/main" class="btn_index">Take a Tour</a>
        <a href="/sign_in" class="btn_index">Photographer Sign in</a>
    </div>
</body>


</html>