{% extends "base.html" %}
{% block content %}
<h2>Clients</h2>

{% for client in clients %}

<section>
    <p>Client name : {{ client.name }}</p>
    <p>Client from : {{ client.client_from }}</p>
    <p>email : {{ client.email }}</p>
    <p>Date of Birth : {{ client.birthdate }}</p>
    <p>Contact : {{ client.contact }}</p>
    <p>ID : {{ client.id }}</p>
    <a href="/clients/{{ client.id }}/edit">edit</a>
    <form action="/clients/{{ client.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>

{% endfor %}
{% endblock %}