{% extends "base2.html" %}
{% block content %}
<h2>Clients</h2>
<table class="put_center table_title">
    <thead>
        <tr>
            <td class="center_content" width ="100px">ID</td>
            <td class="center_content" width ="100px">Name</td>
            <td class="center_content" width ="200px">From</td>
            <td class="center_content" width ="200px">email</td>
            <td class="center_content" width ="200px">Date of Birth</td>
            <td class="center_content" width ="100px">Contact</td>
            <td class="center_content" width ="100px"></td>
            <td class="center_content" width ="100px"></td>
        </tr>
    </thead>
</table>
{% for client in clients %}

<section>
    
    <table class="put_center">
        <thead>
            <tr>
                <td class="center_content" width ="100px">{{ client.id }}</td>
                <td class="center_content" width ="100px">{{ client.name }}</td>
                <td class="center_content" width ="200px">{{ client.client_from }}</td>
                <td class="center_content" width ="200px">{{ client.email }}</td>
                <td class="center_content" width ="200px">{{ client.birthdate }}</td>
                <td class="center_content" width ="100px">{{ client.contact }}</td>
                <td class="center_content" width ="100px" ><a href="/clients/{{ client.id }}/edit" class="btn_index">edit</a></td>
                <td class="center_content" width ="100px"><form action="/clients/{{ client.id }}/delete" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </td>
            </tr>
        </thead>
    </table>


</section>

{% endfor %}
{% endblock %}