{% extends "base2.html" %}
{% block content %}

<h2>Edit a client</h2>

<form action="/clients/{{ client.id }}" method="POST">
    <table class="put_center">
        <thead>
            <tr>
                <div>
                    <td class="left"><label for="name">Name:</label></td>
                    <td class="center"><input type="text" id="name" name="name" value="{{ client.name }}"></td>
                </div>
            </tr>
        </thead>
        <tbody>
            <tr>
            <div>
                <td class="left"><label for="client_from">Where are you from:</label></td>
                <td class="center"><input type="text" id="client_from" name="client_from" value="{{ client.client_from }}"></td>
            </div>
            </tr>
            <tr>
                <div>
                    <td class="left"><label for="email">Your email:</label></td>
                    <td class="center"><input type="text" id="email" name="email" value="{{ client.email }}"></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td class="left"><label for="birthdate">Date of Birth :</label></td>
                    <td class="center"><input type="datetime" id="birthdate" name="birthdate" value="{{ client.birthdate }}"></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td class="left"><label for="contact">Phone Number :</label></td>
                    <td class="center"><input type="contact" id="contact" name="contact" value="{{ client.contact }}"></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td class="center" colspan="2"><input type="submit"></td>
                </div>
            </tr>
        </tbody>
    </table>
</form>

{% endblock %}